@font-face {
	font-family: "NunitoRegular";
	src: url("../assets/fonts/Nunito-Regular.ttf");
}

@font-face {
	font-family: "NunitoDemi";
	src: url("../assets/fonts/Nunito-SemiBold.ttf");
}

@font-face {
	font-family: "NunitoBold";
	src: url("../assets/fonts/Nunito-Bold.ttf");
}
