.navbar {
	padding: 0 3%;
}

.header {
	height: 75px;
	background-color: rgba(84, 160, 255, 0.9);
	&__logo {
		height: 30px;
		width: 40px;
		padding-bottom: 2px;
	}
	&__home {
		display: flex;
		align-items: center;
		color: white;
		text-decoration: none;
		&:hover {
			text-decoration: none;
			color: white;
		}
		& h4 {
			margin: 0;
			padding-top: 7px;
		}
	}
	&__goHome {
		color: white;
		&:hover {
			cursor: pointer;
		}
	}

	&__logout {
		color: white;
		margin-left: 20px;
	}
}
