.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
	&-btnDiv {
		margin-top: 20px;
		display: flex;
		width: 250px;
		justify-content: space-around;
	}
	&-btn {
		background-color: transparent;
		border: 1px solid black;

		height: 45px;
	}
	&-h1 {
		font-size: 30px;
		margin-bottom: 10px;
	}
	&-title {
		text-transform: capitalize;
		font-size: 20px;
	}
	&-input {
		border: 1px solid black;
		padding-left: 8px;
		transition: all 0.2s ease-in-out;
		&::placeholder {
			text-transform: capitalize;
		}
		&:focus {
			outline: none;
			box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
			transform: scale(1.05);
		}
		&:hover {
			transform: scale(1.05);
		}
	}
	&__submitDiv {
		margin-top: 15px;
		display: flex;
		justify-content: space-between;
		width: 150px;
	}
	&-regi {
		margin-top: 5px;
	}
}

@include tablet {
	.login {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 40%;
		margin: 40px auto 0 auto;

		&-title {
			margin: 10px;
			text-transform: capitalize;
		}
		&-input {
			padding-left: 10px;
			&::placeholder {
				text-transform: capitalize;
			}
		}
		&-btnDiv {
			display: flex;
			justify-content: space-around;
			width: 250px;
			margin-top: 20px;
		}
		&__submitDiv {
			margin-top: 15px;
			display: flex;
			justify-content: space-between;
			width: 150px;
		}
		&-errDiv {
			margin-top: 10px;
			color: red;
		}
		&-btn {
			height: 45px;
		}
	}
}

@include desktop {
	.login {
		margin-top: 80px;
		width: 50%;
		&-title {
			font-size: 40px;
		}
		&-btnDiv {
			margin-top: 40px;
			width: 300px;
		}
		&-h1 {
			font-size: 50px;
		}
		&-title {
			font-size: 30px;
		}
	}
}
.fb {
	&-fakeBtn {
		background-color: transparent;
		border: none;
	}
	&-fakeImg {
		width: 40px;
		height: 45px;
	}
	span {
		display: none;
	}
	&-google {
		width: 40px;
		height: 45px;
		& div {
			margin: 0;
			padding: 0;
		}
	}
}
