.mapDiv {
	display: flex;
	// justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url('../assets/images/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	flex-direction: column;
}

.map {
	margin-top: 10px;
	height: 400px;
	width: 85%;
	position: relative;
	&-searchBox {
		position: absolute;
		top: 40px;
		left: 40px;
		z-index: 5;
		width: 100%;
	}
	&-search {
		width: 20%;
		height: 50px;
		border-radius: 10px;
		border: 1px solid #7f8c8d;
		padding-left: 1%;
		&:focus {
			outline: none;
			border: 1px solid #2d3436;
			border-radius: 10px;
		}
	}
	&-submit {
		width: 10%;
		height: 45px;
		font-size: 20px;
		background-color: #7f8c8d;
		color: white;
		margin-left: 15px;
		border-radius: 10px;
		border: 1px solid #7f8c8d;
		transition: 0.1s ease-in-out all;
		&:hover {
			cursor: pointer;
			background-color: #2d3436;
		}
	}
}

.circle {
	color: blue;
}
.modo {
	height: 30px;
	width: 30px;
}
.loading {
	font-size: 50px;
}

.zip {
	height: 30px;
	width: 30px;
}

.searchBox {
	position: absolute;
	z-index: 10;
	top: 5px;
	left: 5px;
	&-input {
		height: 40px;
		padding-left: 10px;
		border-radius: 10px;
		border: 1px solid white;
	}

	&-drop {
		width: 100%;
	}
}

@include tablet {
	.map {
		width: 90%;
	}
	.searchBox {
		top: 10px;
		left: 10px;
	}
}

@include desktop {
	.map {
		margin-top: 20px;
		height: 80%;
	}
	.searchBox {
		top: 20px;
		left: 20px;
		width: 100%;
		&-input {
			height: 40px;
			width: 30%;
			padding-left: 10px;
			border-radius: 10px;
			&:focus {
				outline: none;
				border: 2px solid silver;
			}
		}

		&-drop {
			width: 60%;
		}
	}
}
