.table {
	width: 100%;
	// margin-top: 170px;
	// display: flex;
	// justify-content: center;
	&__zip {
		margin: 20px 0;

		&-location {
			font-size: 15px;
			font-family: NunitoDemi;
		}
		&-car {
			font-size: 15px;
		}
	}
	&-select {
		margin-top: 30px;
		display: flex;
		width: 100%;
		justify-content: space-around;
	}
	&-sBtn {
		border: 1px solid black;
		background-color: transparent;
		transition: ease-in-out 0.2s all;
		&:focus {
			outline: none;
		}
		&:hover {
			transform: scale(1.1);
			background-color: #95afc0;
			color: white;
		}
	}
	&-links {
		text-transform: none;
		color: black;
	}
}
@include tablet {
	.table {
		&__flowTable {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		&-select {
			margin-bottom: 20px;
		}
		&__zip {
			margin: 20px 0;
			width: 33%;
		}
	}
	.table__flowTable {
		display: flex;
	}
}

@include desktop {
	.table {
		// &-select {
		// 	margin-top: 200px;
		// }
		&__zip {
			&-location {
				font-size: 25px;
			}
		}
		&-sBtn {
			font-size: 25px;
		}
	}
}
