.mapDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url('../assets/images/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.map {
	height: 400px;
	width: 80%;
}

.circle {
	color: blue;
}
.modo {
	height: 30px;
	width: 30px;
}
