.mapDiv {
	display: flex;
	justify-content: center;
	height: 100vh;
	background-image: url('../assets/images/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.map {
	margin-top: 50px;
	height: 400px;
	width: 85%;
}

.circle {
	color: blue;
}
.modo {
	height: 30px;
	width: 30px;
}
.loading {
	font-size: 50px;
}

.zip {
	height: 30px;
	width: 30px;
}

@include tablet {
	.map {
		width: 90%;
	}
}

@include desktop {
	.map {
		margin-top: 80px;
		height: 80%;
	}
}
