@import './partials/breakpoints';

@import './partials/header';
@import './partials/map';
@import './partials/modoMap';

html,
body {
	margin: 0;
	padding: 0;
}

.switch-btn {
	height: 30px;
	background-color: white;
	margin-top: 30px;
	width: 100px;
}
.modeChangeBtn {
	position: absolute;
	z-index: 12;
	right: 60px;
	top: 10px;
	background-color: white;
	border-radius: 10px;
}
