@import './partials/breakpoints';
@import './partials/fonts';
@import './partials/header';
@import './partials/login';
@import './partials/map';
@import './partials/modoMap';
@import './partials/mobiDetail';
@import './partials/table';

html,
body {
	margin: 0;
	padding: 0;
	// background: url('../assets/background-images/undraw_Destination_6jtj.svg') 55% bottom no-repeat;

	background-size: 300px;
	// height: 100vh;
	background-color: rgba(84, 160, 255, 0.1);
	font-family: NunitoRegular;
}

.switch-btn {
	height: 30px;
	background-color: white;
	margin-top: 30px;
	width: 100px;
}
.modeChangeBtn {
	position: absolute;
	z-index: 12;
	right: 60px;
	top: 10px;
	background-color: white;
	border-radius: 10px;
}
.loading {
	height: 100vh;
	width: 100vw;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

@include tablet {
	html,
	body {
		background: url('../assets/background-images/undraw_by_my_car_ttge.svg') 30px 90% no-repeat,
			url('../assets/background-images/undraw_startman1_h7l9.svg') 95% 30% no-repeat;
		background-size: 300px, 200px;
		// height: 100vh;
		background-color: rgba(84, 160, 255, 0.1);
	}
}
@include desktop {
	html,
	body {
		animation: backgroundChanger 40s infinite normal;
		// background: url('../assets/mockupimg.jpg') 0% 75px no-repeat;

		// background-size: 62% 95%;
		height: 100%;
		// background-color: rgba(84, 160, 255, 0.1);
	}
}
@keyframes backgroundChanger {
	0% {
		background: url('../assets/mockupimg.jpg') 0% 75px no-repeat;
		background-size: 62% 95%;
		height: 100vh;
	}
	10% {
		background: url('../assets/mockupimg.jpg') 0% 75px no-repeat;
		background-size: 62% 95%;
		height: 100vh;
	}
	20% {
		background: url('../assets/mockupimg2.png') 0% 75px no-repeat;
		background-size: 62% 95%;
		height: 100vh;
	}

	40% {
		background: url('../assets/mockupimg2.png') 0% 75px no-repeat;
		background-size: 62% 95%;
		height: 100vh;
	}

	50% {
		background: url('../assets/mockupimg3.jpg') 0% 75px no-repeat;
		background-size: 62% 95%;
		height: 100vh;
	}

	70% {
		background: url('../assets/mockupimg3.jpg') 0% 75px no-repeat;
		background-size: 62% 95%;
		height: 100vh;
	}
	80% {
		background: url('../assets/mockupimg4.png') 0% 75px no-repeat;
		background-size: 62% 95%;
		height: 100vh;
	}
	90% {
		background: url('../assets/mockupimg4.png') 0% 75px no-repeat;
		background-size: 62% 95%;
		height: 100vh;
	}
	100% {
		background: url('../assets/mockupimg.jpg') 0% 75px no-repeat;
		background-size: 62% 95%;
		height: 100vh;
	}
}
