.navbar {
  padding: 0 3%;
}

.header {
  height: 75px;
  background-color: #3498db;
}

.header__logo {
  height: 30px;
  width: 40px;
  padding-bottom: 2px;
}

.header__home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-decoration: none;
}

.header__home:hover {
  text-decoration: none;
  color: white;
}

.header__home h4 {
  margin: 0;
  padding-top: 7px;
}

.header__goHome {
  color: white;
}

.header__goHome:hover {
  cursor: pointer;
}

.mapDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-image: url("../assets/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.map {
  margin-top: 80px;
  height: 400px;
  width: 85%;
  position: relative;
}

.map-searchBox {
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 5;
  width: 100%;
}

.map-search {
  width: 20%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #7f8c8d;
  padding-left: 1%;
}

.map-search:focus {
  outline: none;
  border: 1px solid #2d3436;
  border-radius: 10px;
}

.map-submit {
  width: 10%;
  height: 45px;
  font-size: 20px;
  background-color: #7f8c8d;
  color: white;
  margin-left: 15px;
  border-radius: 10px;
  border: 1px solid #7f8c8d;
  -webkit-transition: 0.1s ease-in-out all;
  transition: 0.1s ease-in-out all;
}

.map-submit:hover {
  cursor: pointer;
  background-color: #2d3436;
}

.circle {
  color: blue;
}

.modo {
  height: 30px;
  width: 30px;
}

.mobi {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.loading {
  font-size: 50px;
}

.zip {
  height: 30px;
  width: 30px;
}

.searchBox {
  position: absolute;
  z-index: 10;
  top: 5px;
  left: 5px;
}

.searchBox-input {
  height: 40px;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid white;
}

.searchBox-drop {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .map {
    width: 90%;
  }
  .searchBox {
    top: 10px;
    left: 10px;
  }
}

@media only screen and (min-width: 1440px) {
  .map {
    margin-top: 60px;
    height: 80%;
  }
  .searchBox {
    top: 20px;
    left: 20px;
    width: 100%;
  }
  .searchBox-input {
    height: 40px;
    width: 30%;
    padding-left: 10px;
    border-radius: 10px;
  }
  .searchBox-input:focus {
    outline: none;
    border: 2px solid silver;
  }
  .searchBox-drop {
    width: 60%;
  }
}

.modoCar {
  padding-top: 20px;
  height: 100vh;
}

.modoCar-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 900;
}

.modoCar__title-modo {
  height: 50px;
  width: 50px;
  margin: 0 10px 10px 0;
}

.modoPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid silver;
}

.modoPart-pic {
  height: 200px;
  width: 95%;
}

.modoPart-des {
  margin: 20px 0 40px 0;
  font-size: 20px;
}

.modoPart-wholeInfo {
  width: 100%;
  padding: 0 3%;
}

.modoPart-text {
  font-size: 15px;
  text-transform: capitalize;
}

.modoPart-accBox {
  padding: 0 5%;
}

@media only screen and (min-width: 768px) {
  .modoPart-pic {
    width: 60%;
    height: 300px;
  }
  .modoPart-des {
    font-size: 30px;
    margin: 30px 0 20px 0;
  }
  .modoPart-wholeInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modoPart__info {
    width: 70%;
  }
  .modoPart__info-color {
    font-weight: 400;
  }
  .modoPart__info-seats {
    font-weight: 400;
  }
  .modoPart__colorSeat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .modoPart-accBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 20px;
  }
  .modoPart-acc {
    width: 90%;
    font-weight: 300;
  }
  .modoPart-text {
    width: 30%;
    margin: 10px;
    font-weight: 200;
  }
  .modoCar-title {
    font-size: 40px;
  }
}

@media only screen and (min-width: 1440px) {
  .modoPart {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-top: 1px solid silver;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modoPart-pic {
    width: 50%;
    height: 500px;
    padding-left: 5%;
  }
  .modoPart-des {
    margin-left: 30px;
    font-size: 50px;
  }
  .modoPart__info-color {
    font-size: 35px;
    font-weight: 500;
  }
  .modoPart__info-seats {
    font-size: 35px;
    font-weight: 500;
  }
  .modoPart-acc {
    font-size: 30px;
    font-weight: 400;
  }
  .modoPart-text {
    font-size: 25px;
    font-weight: 300;
  }
  .modoPart-wholeInfo {
    padding: 0;
    width: 50%;
  }
  .modoCar-title {
    margin: 30px 0;
    font-size: 60px;
  }
  .modoCar__title-modo {
    height: 100px;
    width: 100px;
    margin: 0 30px 10px 0;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

.switch-btn {
  height: 30px;
  background-color: white;
  margin-top: 30px;
  width: 100px;
}

.modeChangeBtn {
  position: absolute;
  z-index: 12;
  right: 60px;
  top: 10px;
  background-color: white;
  border-radius: 10px;
}
/*# sourceMappingURL=main.css.map */